<navbar [items]="items" (openEventEmitter)="openCart()" />
<div class="container my-4">
    <h2 class="my-3">Catalogo de productos</h2>
    <catalog [products]="products" (productEventEmmiter)="onAddCart($event)" />
    <!-- <div class="row">
        <div [className]="showCart? 'col-9':'col'">
            
        </div> -->
    <!-- </div> -->
    @if (showCart) {
        <cart-modal [items]="items" 
        (idProductEventEmitter)="onDeleteCart($event)"
        (openEventEmitter)="openCart()"
        />
    }
</div>